[project]
	description = ?????source code
[access "refs/*"]
	owner = group user/yang-lu (yang-lu)
[access "refs/for/refs/*"]
	read = group user/yang-lu (yang-lu)
	push = group user/yang-lu (yang-lu)
	label-Code-Review = -2..+2 group user/yang-lu (yang-lu)
	label-Verified = -1..+1 group user/yang-lu (yang-lu)
	rebase = group user/yang-lu (yang-lu)
	removeReviewer = group user/yang-lu (yang-lu)
	submit = group user/yang-lu (yang-lu)
[access "refs/heads/*"]
	read = group user/yang-lu (yang-lu)
	create = group user/yang-lu (yang-lu)
	push = +force group user/yang-lu (yang-lu)
	pushMerge = group user/yang-lu (yang-lu)
[access "refs/tags/*"]
	push = +force group user/yang-lu (yang-lu)
	pushTag = group user/yang-lu (yang-lu)
	pushSignedTag = group user/yang-lu (yang-lu)
